.index-navbar-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.4s;
}

.index-navbar {
  width: 95%;
  height: 100%;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav {
  width: 30%;
  max-width: 400px;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
}

.main-logo-btn img {
  height: 50px;
}

.active-search {
  transition: all 2s;
}

.right-nav {
  display: flex;
  align-items: center;
  transition: all 1s;

  .search-container {
    display: flex;
    align-items: center;
    transition: all 1s;
    margin-right: 20px;

    .search-button {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      height: 30px;

      &:focus {
        outline: none;
      }

      img {
        width: 30px;
      }
    }

    .search-box {
      color: white;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      border: 1px solid white;

      .search-form {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .search-form-input {
          background-color: transparent;
          color: white;
          border: none;
          font-size: 20px;

          &:focus {
            outline: none;
          }
        }

        .search-input-clear-btn {
          border: none;
          background: transparent;
          color: white;
          font-size: 14px;

          &:focus {
            outline: none;
          }

          &:hover {
              cursor: pointer;
          }
        }
      }
    }
  }
}

.logout-btn {
  padding: 10px 30px;
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 14px;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: darken(red, 20%);
  }
}
