.index-navbar-wrapper {
    width: 98vw;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.index-navbar {
    width: 100vw;
    height: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141414;
}

.left-nav {
    // width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-top: 10px;
    // padding-top: 5px;

    a {
        text-decoration: none;
        color: white;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        padding: 10px;
    }
}

.fade-dark-nav {
    animation: nav-fade-dark;
    animation-fill-mode: forwards;
    animation-duration: .8s;
}


.main-logo-btn img {
    min-width: 50px;
    margin: 0 50px;
    height: 45px;
    // margin-left: 50px;
}

.right-nav {
    margin-right: 50px;
    display: flex;
    position: relative;
    align-items: center;

    .search-bar-container {
        display: flex;
        align-items: center;

        .icon-div {
            color: white;
            size: 35px;
            padding: 5px;
        }

        .search-bar {
            color: white;
            background: black;
            padding: 7px;
            border: none;
            width: 200px;
            height: 20px;
        }
    }
}

.logout-btn:hover {
    background-color: blue;
}
