.right-header-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 50;
}

.left-header-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 50;
    width: 100%;
}

.signup-border {
    border-bottom: 1px solid lightgray;

}

.header-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.centered {
    width: 100%;
}

.logo-btn {
    text-decoration: none;
    color: red;
    font-size: 50px;
    text-transform: uppercase;
    margin: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
}

.login-btn {
    padding: 10px 15px;
    border-radius: 3px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    padding: 10px 15px;
    border-radius: 3px;
    margin: 10px;
    font-family: 'Montserrat',
    sans-serif;
    text-decoration: none;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    cursor: pointer;
}

.login-btn-white {
    background: white;
    border: none;
    color: gray;
    text-decoration: none;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.earthflix-logo {
    max-height: 45px;
    max-width: 170px;
    position: relative;
    left: 20px;
}