.show-index-wrapper {
    position: relative;
    width: 100%;
    min-height: 1000px;
}

.big-video-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212020;
    height: 80vh;
}

.big-video-poster {
    height: 100%;
    width: 100%;
    max-width: 100vw;
    position: absolute;
    z-index: 20;
    border: none;
}

.show-index {
    display: flex;
    flex-direction: column;
    width: 100%;
}

