.show-rows-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show-rows-wrapper h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    margin-bottom: 1vh;
}