.watch-video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #141414;
    width: 100%;

    .video-react {
        width: 100%;
        height: 100%;
    }
}

.show-watch-back-btn {
    position: absolute;
    color: white;
    opacity: .3;
    font-size: 40px;
    top: 25px;
    left: 50px;
    border-radius: 100%;
    z-index: 1;

    &:hover {
        position: absolute;
        color: white;
        opacity: .9;

        &:after {
            content: 'back to browse';
            justify-content: center;
            font-family: 'Montserrat', sans-serif;
            margin-left: 10px;
            font-size: 20px;
        }
    }
}
